@model IDA.Models.User

@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="pt-5 mx-sm-4">
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>

    <link href="~/Content/css/modalStyle.css" rel="stylesheet" />
    <div id="page-content-wrapper">
        <br /> <br />
        <div class="card mb-4 wow fadeIn">
            <!--Card content-->
            <div style="text-align:center;" class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a style="color:orangered; ">Change Password </a>

                </h4>
                <a href="/Employees/AdminProfile" style="font-style:italic">Back</a>

            </div>
        </div>


        <br />
        @if (TempData["error"] != null && TempData["error"].Equals("Incorrect Password"))
        {
            <script type="text/javascript">

                $(document).ready(function () {

                    swal({
                        title: "",
                        text: "Enter your correct existing Password",
                        type: "danger",
                        confirmButtonClass: "btn-info",
                        showOkButton: true,
                        confirmButtonText: 'OK',
                        //timer: 2000
                    },

                    );

                });

            </script>
        }
        @if (TempData["success"] != null && TempData["success"].Equals("success"))
        {
            <script type="text/javascript">

                $(document).ready(function () {

                    swal({
                        title: "",
                        text: "Your Password was changed successfully",
                        type: "success",
                        confirmButtonClass: "btn-info",
                        showOkButton: true,
                        confirmButtonText: 'OK',
                        //timer: 2000
                    },

                    );

                });

            </script>
        }
    
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">Change Password</h3>
                <div class="tile-body">
                    @using (Html.BeginForm("changePassword", "Employees", FormMethod.Post))
                    {
                        @*@Html.AntiForgeryToken()*@

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @if (ViewBag.error != null && ViewBag.error == "Passwords do not Match!")
                        {
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="/Account/Login">×</a>
                                @ViewBag.error
                            </div>
                        }


                        @Html.HiddenFor(model => model.AdminId)
                        @Html.HiddenFor(model => model.EmpId)
                        @Html.HiddenFor(model => model.ClientId)
                        @Html.HiddenFor(model => model.Username)

                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="form-group">
                            <label class="control-label col-md-10">Enter Password</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-10">New Password</label>
                            <div class="col-md-10">
                                <input type="text" name="newPassword" class="form-control" required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-10">Confirm Password</label>
                            <div class="col-md-10">

                                <input type="text" name="confirmPassword" class="form-control" required="true" />

                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                                <a class="btn btn-primary" @Html.ActionLink("Back", "AdminProfile")
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            </div>
        </div>
</main>