@using System.Data
@{
    ViewBag.Title = "ViewInepReport";
    Layout = "~/Views/Shared/FinanceManagerLayout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <!-- DataTables CSS -->
    <link href="css/addons/datatables2.min.css" rel="stylesheet">
    <link href="~/MD/css/addons/datatables.min.css" rel="stylesheet" />
    <!-- DataTables JS -->
    <script src="js/addons/datatables2.min.js" type="text/javascript"></script>

    <script src="~/MD/js/addons/datatables2.min.js"></script>
</head>
<html>
<body>
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">
            <div class="container-fluid mt-5">

            </div>
            <!-- Heading -->
            <!-- Heading -->
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-push-12 mb-auto">
                    <!--Card-->
                    <div class="card" style="margin-left:150px; margin-top:50px">

                        <div class="card-body">
                            <div>

                                <div id="invoice">

                                    <div class="toolbar hidden-print">
                                        <div class="text-right">
                                            <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
                                            <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="invoice overflow-auto">
                                        <div style="width:auto">
                                            <header>
                                                <div class="row">
                                                    <div class="col">
                                                        <a target="_blank" href="http://izingodla.co.za/">
                                                            <img src="~/Content/images/izingodla-logo.PNG"
                                                                 data-holder-rendered="true" />
                                                        </a>
                                                    </div>
                                                    <div class="col company-details">
                                                        <h2 class="name">
                                                            <a target="_blank" href="http://izingodla.co.za/">
                                                                IZINGODLA ENGINEERING
                                                            </a>
                                                        </h2>
                                                        <div>4 Floor Union Main Center</div>
                                                        <div>45-51 Josiah Gumede Road</div>
                                                        <div>PineTown</div>
                                                        <div>3600</div>
                                                        <div><a href="#"> sikhumbuzo@izingodla.co.za</a></div>
                                                    </div>
                                                </div>
                                            </header>






                                            <div class="row contacts">
                                                <div class="col invoice-to">
                                                    <div class="text-gray-light">
                                                        PROJECT NUMBER:
                                                        @foreach (DataRow row in Model.Rows)
                                                        {
                                                            @row["ProjectNumber"]
                                                        }
                                                    </div>

                                                    <div class="Project-name">
                                                        PROJECT NAME :   @foreach (DataRow row in Model.Rows)
                                                        {
                                                            @row["ProjectName"]
                                                        }
                                                    </div>
                                                    <div class="Project-TYPE">
                                                        PROJECT TYPE :   @foreach (DataRow row in Model.Rows)
                                                        {
                                                            @row["ProjectT"]
                                                        }
                                                    </div>

                                                    <div class="Source-Funding">
                                                        SOURCE FUNDING :    @foreach (DataRow row in Model.Rows)
                                                        {
                                                            @row["SourceOfFunding"]
                                                        }
                                                    </div>


                                                </div>
                                                <div class="col invoice-details">

                                                    <h5 class="invoice-id">

                                                        INEP PART(@ViewBag.Month @DateTime.Now.Year)
                                                    </h5>
                                                    <div class="date">Date of certificate: @DateTime.Now</div>
                                                    <div class="date">
                                                        Project End Date:    @foreach (DataRow row in Model.Rows)
                                                        {
                                                            @row["Date_Concluded"]
                                                        }
                                                    </div>
                                                    <div>Certified by Project Manager: YES</div>

                                                </div>
                                            </div>
                                            <h5 style="text-align:center" class="invoice-id">Project Status in %</h5>
                                            <table border="0" cellspacing="0" cellpadding="0">

                                                <thead>
                                                    <tr>

                                                        <th class="text-left"><b>Municipality Approval</b></th>
                                                        <th class="text-left"><b>Pre-Engineering</b></th>
                                                        <th class="text-left"><b>Design</b></th>
                                                        <th class="text-left"><b>Procurement</b></th>
                                                        <th class="text-left"><b>Construction</b></th>
                                                        <th class="text-left"><b>Close Up</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (DataRow row in Model.Rows)
                                                    {
                                                        <tr>

                                                            <td class="text-left">
                                                                <h3>
                                                                    <a target="_blank" href="#">

                                                                        @row["MunicipalityApproval"] %

                                                                    </a>
                                                                </h3>

                                                            </td>


                                                            <td class="text-left" style="color:black"> @row["Pre_Engineering"] %</td>
                                                            <td class="text-left"> @row["Design"] %</td>
                                                            <td class="text-left"> @row["Procurement"] %</td>
                                                            <td class="text-left"> @row["Construction"] %</td>
                                                            <td class="text-left"> @row["CloseUp"] %</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>


                                                </tfoot>
                                            </table>
                                            <h5 style="text-align:center" class="invoice-id">Month</h5>

                                            <div class="col-xs-6">
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <thead>
                                                        <tr>

                                                            <th class="text-left"><b>Transfered Capital</b></th>
                                                            <th class="text-left"><b>Actual Capital Expenditure</b></th>
                                                            <th class="text-left"><b>Variance %</b></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (DataRow row in Model.Rows)
                                                        {
                                                            <tr>

                                                                <td class="text-left">
                                                                    <h3>
                                                                        <a target="_blank" href="#">

                                                                            @row["AmountRecieved"]

                                                                        </a>
                                                                    </h3>

                                                                </td>


                                                                <td class="text-left"> @ViewBag.TotalTran</td>
                                                                <td class="text-left"> @ViewBag.Percentage %</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>


                                                    </tfoot>
                                                </table>
                                            </div>
                                            <h5 style="text-align:center" class="invoice-id">Year To Date</h5>

                                            <div class="col-xs-6">
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <thead>
                                                        <tr>

                                                            <th class="text-left"><b>Transfered Capital</b></th>
                                                            <th class="text-left"><b>Actual Capital Expenditure</b></th>
                                                            <th class="text-left"><b>Variance %</b></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (DataRow row in Model.Rows)
                                                        {

                                                            <tr>

                                                                <td class="text-left">
                                                                    <h3>
                                                                        <a target="_blank" href="#">

                                                                            @row["AmountRecieved"]

                                                                        </a>
                                                                    </h3>

                                                                </td>


                                                                <td class="text-left"> @ViewBag.TotalTran</td>
                                                                <td class="text-left"> @ViewBag.Percentage %</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>


                                                    </tfoot>
                                                </table>
                                            </div>
                                            <h5 style="text-align:center" class="invoice-id">Variance Explaination</h5>
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <thead>
                                                    <tr>

                                                        <th class="text-left"><b>Month</b></th>
                                                        <th class="text-left"><b>Reason For Variance(Month)</b></th>
                                                        <th class="text-left"><b>Corrective Action Taken(Month)</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (DataRow row in Model.Rows)
                                                    {
                                                        <tr>

                                                            <td class="text-left">
                                                                <h3>
                                                                    <a target="_blank" href="#">

                                                                        @ViewBag.Month

                                                                    </a>
                                                                </h3>

                                                            </td>


                                                            <td class="text-left"> @row["MonthVarianceReason"]</td>
                                                            <td class="text-left"> @row["MonthCorrectiveAction"]</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>


                                                </tfoot>
                                            </table>

                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left"><b>Year</b></th>
                                                        <th class="text-left"><b>Reason For Variance(Year)</b></th>
                                                        <th class="text-left"><b>Corrective Action Taken(Year)</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (DataRow row in Model.Rows)
                                                    {
                                                        <tr>


                                                            <td class="text-left">
                                                                <h3>
                                                                    <a target="_blank" href="#">

                                                                        @DateTime.Now.Year

                                                                    </a>
                                                                </h3>

                                                            </td>



                                                            <td class="text-left"> @row["YearVarianceReason"]</td>
                                                            <td class="text-left"> @row["YearCorrectiveAction"]</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>


                                                </tfoot>
                                            </table>

                                            <div style="float:right">
                                                <img src="~/MD/img/Rep.PNG" />
                                            </div>
                                            <div class="thanks">Thank you!</div>
                                            <div class="notices">
                                                <div>SIGNITURE:____________________________</div>

                                            </div>


                                        </div>
                                        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>

                            $('#printInvoice').click(function () {
                                Popup($('.invoice')[0].outerHTML);
                                function Popup(data) {
                                    window.print();
                                    return true;
                                }
                            });</script>
                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" value="@ViewBag.GenerateInvoice" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Due-Date</label>
                                <input type="date" class="form-control" id="Due-Date"></input>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message Note:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>
        <link href="css/addons/datatables-select2.min.css" rel="stylesheet">
        <link href="~/MD/css/addons/datatables-select2.min.css" rel="stylesheet" />
        <!-- DataTables Select JS -->
        <script src="js/addons/datatables-select2.min.js" type="text/javascript"></script>
        <script src="~/MD/js/addons/datatables-select2.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#dt-filter-select').dataTable({
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select  class="browser-default custom-select form-control-sm"><option value="" selected>Search</option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });
            });
            // Get the modal
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </main>
</body>
</html>
<style>
    #invoice {
        padding: 30px;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        min-height: 680px;
        padding: 15px
    }

        .invoice header {
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #3989c6
        }

        .invoice .company-details {
            text-align: right
        }

            .invoice .company-details .name {
                margin-top: 0;
                margin-bottom: 0
            }

        .invoice .contacts {
            margin-bottom: 20px
        }

        .invoice .invoice-to {
            text-align: left
        }

            .invoice .invoice-to .to {
                margin-top: 0;
                margin-bottom: 0
            }

        .invoice .invoice-details {
            text-align: right
        }

            .invoice .invoice-details .invoice-id {
                margin-top: 0;
                color: #3989c6
            }

        .invoice main {
            padding-bottom: 50px
        }

            .invoice main .thanks {
                margin-top: -100px;
                font-size: 2em;
                margin-bottom: 50px
            }

            .invoice main .notices {
                padding-left: 6px;
                border-left: 6px solid #3989c6
            }

                .invoice main .notices .notice {
                    font-size: 1.2em
                }

        .invoice table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px
        }

            .invoice table td, .invoice table th {
                padding: 15px;
                background: #eee;
                border-bottom: 1px solid #fff
            }

            .invoice table th {
                white-space: nowrap;
                font-weight: 400;
                font-size: 16px
            }

            .invoice table td h3 {
                margin: 0;
                font-weight: 400;
                color: #3989c6;
                font-size: 1.2em
            }

            .invoice table .qty, .invoice table .total, .invoice table .unit {
                text-align: right;
                font-size: 1.2em
            }

            .invoice table .no {
                color: #fff;
                font-size: 1.6em;
                background: #3989c6
            }

            .invoice table .unit {
                background: #ddd
            }

            .invoice table .total {
                background: #3989c6;
                color: #fff
            }

            .invoice table tbody tr:last-child td {
                border: none
            }

            .invoice table tfoot td {
                background: 0 0;
                border-bottom: none;
                white-space: nowrap;
                text-align: right;
                padding: 10px 20px;
                font-size: 1.2em;
                border-top: 1px solid #aaa
            }

            .invoice table tfoot tr:first-child td {
                border-top: none
            }

            .invoice table tfoot tr:last-child td {
                color: #3989c6;
                font-size: 1.4em;
                border-top: 1px solid #3989c6
            }

            .invoice table tfoot tr td:first-child {
                border: none
            }

        .invoice footer {
            width: 100%;
            text-align: center;
            color: #777;
            border-top: 1px solid #aaa;
            padding: 8px 0
        }

    @@media print {
        .invoice {
            font-size: 11px !important;
            overflow: hidden !important
        }

            .invoice footer {
                position: absolute;
                bottom: 10px;
                page-break-after: always
            }

            .invoice > div:last-child {
                page-break-before: always
            }
    }
</style>




